{% extends "base.html" %}

{% block title %}
Student Dashboard
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2>Welcome {{ student.name }}</h2>

    <div class="row mt-4">

        <div class="col-md-6">

            <div class="card p-3">

                <h5>Student Information</h5>

                <hr>

                <p><strong>Name :</strong> {{ student.name }}</p>

                <p><strong>Email :</strong> {{ student.email }}</p>

                <p><strong>Department :</strong> {{ student.department.name }}</p>

                <p><strong>Marks :</strong> {{ student.marks }}</p>

                <p>

                    <strong>Status :</strong>

                    {% if student.active_status == "pass" %}

                        <span class="badge bg-success">PASS</span>

                    {% else %}

                        <span class="badge bg-danger">FAIL</span>

                    {% endif %}

                </p>

            </div>

        </div>

        <div class="col-md-6">

            <div class="card p-3">

                <h5>Courses</h5>

                <hr>

                <ul>

                    {% for course in student.course.all %}

                        <li>

                            {{ course.course_name }}

                        </li>

                    {% empty %}

                        <li>No Courses Assigned</li>

                    {% endfor %}

                </ul>

            </div>

        </div>

    </div>

</div>

{% endblock %}