{% extends "base.html" %}
{%block content%}

    <h1>Student Form</h1>

    <!-- Validation Errors -->
    {% if form.errors %}
        <div style="color:red;">
            {{ form.errors }}
        </div>
    {% endif %}

    <form method="POST">

        {% csrf_token %}
        <h3> Student info</h3>
        {{ form.as_p }}
        <hr>
        <h3>student personal info</h3>
        {{profile_form.as_p}}
        <button type="submit">
            Save
        </button>

        <a href="{% url 'student_list' %}">
            <button type="button">
                Cancel
            </button>
        </a>

    </form>


{%endblock%}