{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Total Students</h5>
                <h2>{{ total_students }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h5>Active Students</h5>
            <h2>{{ active_students }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-warning">
            <div class="card-body">
                <h5>Departments</h5>
                <h2>{{ total_departments }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-body">
                <h5>Courses</h5>
                <h2>{{ total_courses }}</h2>
            </div>
        </div>
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <p>
            Average Marks : <strong>{{ average_marks|floatformat:2 }}</strong>
        </p>
        <p>
            Highest Scorer :<strong>{{ highest_student.name }}</strong>({{ highest_student.marks }})
        </p>
    </div>
</div>

{% endblock %}