{% extends "base.html" %}

{% block title %}
Delete Student
{% endblock %}

{% block content %}

<div class="card border-danger">

    <div class="card-header bg-danger text-white">
        Delete Student
    </div>

    <div class="card-body">

        <h5>Are you sure you want to delete?</h5>

        <p>
            <strong>{{ student.name }}</strong>
        </p>

        <form method="post">

            {% csrf_token %}

            <button class="btn btn-danger">
                Yes, Delete
            </button>

            <a href="{% url 'student_detail' student.id %}" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}

<!-- <!DOCTYPE html>
<html>

<head>
    <title>Delete Student</title>
</head>

<body>
<h2>Delete Student</h2>
<p>
    Are you sure you want to delete <b>{{ student.name }}</b> ?
</p>

<form method="POST">
    {% csrf_token %}
<button type="submit">Yes, Delete</button>
</form>
<br>
<a href="{% url 'student_detail' student.id %}">Cancel</a>

</body>
</html> -->