APP_NAME=fastapi_secure_task_manager
APP_ENV=local
DEBUG=true

JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

PASSWORD_HASH_SCHEME=argon2
MAX_LOGIN_ATTEMPTS=5
LOG_LEVEL=INFO