# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Django
db.sqlite3

# Environment variables
.env

# IDE
.vscode/
# Django collected static files
staticfiles/

# FastAPI / testing cache
__pycache__/
.pytest_cache/
*.pyc
