<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div
        style="font-size: large; display: flex; align-items: center; justify-content: flex-end; gap: 15px; padding: 10px;margin: 10px;">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/students/">Students</a>
        <a href="/students/add/">Add Student</a>
    </div>

    <h1>Welcome to the {{company}}</h1>


</body>

</html>