{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h2>Feedback List</h2>

<table class="table table-bordered">

<tr>

<th>Student</th>

<th>Trainer</th>

<th>Rating</th>

<th>Comments</th>

<th>Visible</th>

<th>Action</th>

</tr>

{% for feedback in feedbacks %}

<tr>

<td>{{ feedback.student.name }}</td>

<td>{{ feedback.trainer.username }}</td>

<td>{{ feedback.rating }}</td>

<td>{{ feedback.comments }}</td>

<td>

{% if feedback.visible_to_student %}

Yes

{% else %}

No

{% endif %}

</td>

<td>

{% if user.profile.role == "trainer" %}

<a href="{% url 'edit_feedback' feedback.id %}" class="btn btn-warning btn-sm">

Edit

</a>

{% endif %}

</td>

</tr>

{% empty %}

<tr>

<td colspan="6">

No Feedback Available

</td>

</tr>

{% endfor %}

</table>
python manage.py runserver
</div>

{% endblock %}