PROCESSING_BASE_URL=http://127.0.0.1:8001
PROCESSING_TIMEOUT_SECONDS=5
PROCESSING_SERVICE_TOKEN=change_me_internal_token

JWT_SECRET_KEY=change_me_jwt_secret
JWT_ALGORITHM=HS256

AUTH_USERNAME=admin
AUTH_PASSWORD=change_me_password