{% extends 'students\base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<style>
    .container {
        min-height: calc(100vh - 70px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 20px;
    }

    .home-box {
        background: white;
        width: 100%;
        max-width: 700px;
        padding: 50px 40px;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    .home-box h1 {
        color: #1f2937;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .home-box p {
        color: #666;
        font-size: 17px;
        margin-bottom: 30px;
    }

    .add-button {
        display: inline-block;
        padding: 12px 24px;
        background-color: #222;
        color: white;
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
    }

    .add-button:hover {
        background-color: #444;
    }

    .about-button {
        display: inline-block;
        padding: 12px 24px;
        background-color: #2563eb;
        color: white;
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
        margin-left: 10px;
    }

    .about-button:hover {
        background-color: #1d4ed8;
    }

    @media (max-width: 600px) {

        .home-box {
            padding: 35px 20px;
        }

        .home-box h1 {
            font-size: 25px;
        }

        .add-button,
        .about-button {
            display: block;
            width: 100%;
            margin: 8px 0;
        }
    }
</style>

<div class="container">

<div class="home-box">

    <h1>
        Welcome to {{ company_name }} Training Program
    </h1>

    <p>
        Manage students, view their details, and perform
        student CRUD operations.
    </p>

    <a href="{% url 'student_list' %}" class="add-button">
        Student Dashboard
    </a>

    <a href="{% url 'about' %}" class="about-button">
        About
    </a>

</div>


</div>

{% endblock %}

<!-- Email: ruchita_test2@gmail.com Password: Ruchita@12345 -->