# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
staticfiles/

# Environment Variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/