{% extends "base.html" %}


{% block title %}
About
{% endblock %}


{% block content %}

<div class="card">

    <h1>About Us</h1>

    <p>
        Bug Network Private Limited provides training
        programs for undergraduate and postgraduate students.
    </p>

    <h3>Our Training Programs</h3>

    <ul>
        <li>Artificial Intelligence & Data Science (AI&DS)</li>
        <li>Python Development</li>
        <li>MERN Stack Development</li>
        <li>Cloud Computing</li>
    </ul>


    <h3>Our Focus</h3>

    <p>
        Our training programs focus on practical learning,
        programming skills, real-world projects, and industry
        relevant technologies.
    </p>

</div>

{% endblock %}